<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_menu.name %>
</p>

<p>
  <b>Parent:</b>
  <%= @admin_menu.parent_id %>
</p>

<p>
  <b>Isleaf:</b>
  <%= @admin_menu.isleaf %>
</p>


<%= link_to 'Edit', edit_admin_menu_path(@admin_menu) %> |
<%= link_to 'Back', admin_menus_path %>
